@font-face {
    font-family: 'Atkinson Hyperlegible Next';
    font-style: normal;
    font-weight: 200 800;
    font-display: swap;
    src: url(/fonts/ahn-normal.woff2) format('woff2');
}

@font-face {
    font-family: 'Atkinson Hyperlegible Next';
    font-style: italic;
    font-weight: 200 800;
    font-display: swap;
    src: url(/fonts/ahn-italic.woff2) format('woff2');
}

/* latin-ext */
@font-face {
  font-family: 'Space Mono';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/spacemono/v17/i7dNIFZifjKcF5UAWdDRYERMSXK_IwU.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Space Mono';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/spacemono/v17/i7dNIFZifjKcF5UAWdDRYERMR3K_.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin-ext */
@font-face {
  font-family: 'Space Mono';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/spacemono/v17/i7dSIFZifjKcF5UAWdDRYERE_FeqEiSRV3U.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Space Mono';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/spacemono/v17/i7dSIFZifjKcF5UAWdDRYERE_FeqHCSR.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin-ext */
@font-face {
  font-family: 'Space Mono';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/spacemono/v17/i7dPIFZifjKcF5UAWdDRYE98RWq7.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Space Mono';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/spacemono/v17/i7dPIFZifjKcF5UAWdDRYEF8RQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin-ext */
@font-face {
  font-family: 'Space Mono';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/spacemono/v17/i7dMIFZifjKcF5UAWdDRaPpZUFuaHjyV.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Space Mono';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/spacemono/v17/i7dMIFZifjKcF5UAWdDRaPpZUFWaHg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'American Typewriter';
    font-style: normal;
    font-weight: 200;
    font-display: swap;
    src: url(/fonts/american-typewriter-reg.ttf) format('truetype');
}

@font-face {
    font-family: 'pxplus';
    font-display: swap;
    src: url(/fonts/pxplus.ttf) format('truetype');
}

* {
    --bg: #0f0e0b;
    --bg-2: #2f2e2b;
    --fg-br: #ffffe4;
    --fg: #efdfc4;
    --fg-d: #dfcfb4;
    --fg-c: #cfbfa4;
    --fg-dark: #9f8f74;
    --fg-7: #8f7f64;
    --fg-6: #7f6f54;
    --fg-4: #5f4f34;
    --green-1: #102017;
    --green-2: #203027;
    --green-3: #304037;
    --green-5: #506057;
    --green-8: #809087;
}

html {
    font-family: 'American Typewriter', sans-serif;
    font-size: 11.5pt;
}

body {
    display: flex;
    flex-direction: row;
    gap: 2.4rem;
    text-align: left;
    background: var(--bg);
    margin: 2rem;
    justify-content: center;
    color: var(--fg);
}

pre, code {
    font-family: "Space Mono", monospace;
    font-size: 0.9rem;
}

p code, li code {
    display: inline-block;
    font-size: 0.85rem;
    background: var(--green-2);
    padding: 0 0.2rem;
    border: 0.1rem solid var(--fg-4);
    margin-bottom: 0.2rem;
}

strong {
    color: var(--fg-br);
}

main {
    display: block;
    min-width: 18em;
    max-width: 60em;
    width: 80%;
}

aside {
    max-width: 13rem;
    min-width: 13rem;
    display: flex;
    flex-direction: column;

    * {
        min-width: 0;
    }

    img {
        width: 100%;
        height: auto;
    }

    h3 {
        border: none;
    }
}

nav {
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 1.8rem;
    a {
        color: var(--fg-dark);
        border: none;
    }
    a:hover, a:active {
        border: none;
        text-decoration: underline;
    }
}

h2 {
    font-size: 1.6rem;
    margin-top: 0;
    color: var(--fg-dark);
}

h3, h4 {
    a {
        color: inherit;
        border: none;
    }
    a:hover, a:active {
        border: none;
        text-decoration: underline;
    }
}

h3 {
    color: var(--fg-dark);
    font-size: 1.3rem;
    display: block;
    width: 100%;
    border-bottom: 0.1rem dashed #8f7f64;
}

h4 {
    font-family: 'pxplux', monospace;
    font-size: 1.1rem;
    font-weight: normal;
    text-transform: uppercase;
    width: fit-content;
    padding: 0.2rem 2rem 0.2rem 2rem;
    margin-bottom: 0.5rem;
    background: var(--green-2);
    position: relative;
}

h4:before, h4:after {
    content: "";
    position: absolute;
    top: 5px;
    height: calc(100% - 10px);
    width: 1em;
    background-color: var(--fg-6);
}

h4:before {
    left: 5px;
}

h4:after {
    right: 5px;
}

hr {
    background: radial-gradient(var(--fg) 0.5px, var(--bg) 1px) 0 0/3px 3px, transparent;
    border: 0;
    opacity: 0.6;
    height: 0.5rem;
    max-height: 0.5rem;
    margin: 0em 0 1.3rem 0;
    width: 100%;
}

table {
    font-family: 'Atkinson Hyperlegible Next', sans-serif;

    tbody>tr>td, thead>tr>th {
        padding: 0.25em 0.5em 0.25em 0.5em;
    }

    tbody>tr {
        border: 1px solid var(--fg-dark);
    }
}

table.list {
    tbody>tr:nth-child(even) {
        background: var(--bg-2);
    }
}

table.sheet {
    font-size: 0.9rem;

    td:first-child {
        border-right: 0.2rem double var(--fg-6);
    }
    tbody>tr td:nth-child(even) {
        background: var(--bg-2);
    }
}

td#m {
    font-family: 'Space Mono', monospace;
    font-size: 0.9em;
}

td#sub {
    padding-left: 2rem;
    position: relative;
}

td#sub:before {
    content: "";
    background-color: var(--green-3);
    position: absolute;
    top: 6px;
    left: 6px;
    width: 1.1em;
    height: calc(100% - 12px);
    display: inline-block;
}

td.subtle {
    color: var(--fg-7);
}

.sideth, td.shrink {
    /* https://stackoverflow.com/a/11267268 */
    width: 0.01%;
    white-space: nowrap;
    padding-right: 0.5rem;
}

.sideth {
    background: var(--green-2) !important;
    text-align: right;
    border-right: 0.2rem double var(--fg-6);
}

table>thead>tr {
    background: var(--green-3);
    border: 1px solid var(--fg);
}

table {
    border-collapse: collapse;
    width: 100%;
}

a {
    color: #b0c4de;
    text-decoration: none;
    border: 0.1rem dashed #b0c4de00;
    padding: 0.1rem 0.2rem 0.1rem 0.2rem;
}

a:hover {
    border: 0.1rem solid #b0c4de;
}

a:active {
    background: #30445e;
}

a.btn {
    display: block;
    border: 1px solid var(--fg);
    padding: 0.08em 0.7em;
    text-align: center;
    background: var(--green-3);
    color: var(--fg);
    text-decoration: none;
}

a.btn:hover {
    background: var(--green-2);
}

a.btn:active {
    background: var(--bg);
}

a.btn:after {
    content: " →";
}

a.nav {
    display: block;
    box-shadow: 3px 3px var(--fg-4);
    border: 1px solid var(--fg-6);
    background: var(--green-1);
    color: var(--fg);
    padding: 0.08em 0.7em;
    text-decoration: none;
    margin-bottom: 0.35em;
    width: 80%;
    position: relative;
}

a.nav:hover {
    background: var(--green-3);
}

a.sel.nav::after {
    content: "";
    background-color: var(--fg-6);
    position: absolute;
    top: 4px;
    right: 4px;
    width: 1em;
    height: calc(100% - 8px);
    display: inline-block;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2%;

    a, a:hover, a:active {
        border: none;
    }
}

img.badge {
  image-rendering: pixelated;
  image-rendering: crisp-edges;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  width: auto;
  height: 19px;
  min-height: 19px;
  max-height: 19px;
}

img.inline, svg.inline {
    display: inline-block;
    width: auto;
    max-height: 1.2rem;
    margin: 0;
    padding: 0;
    image-orientation: from-image;
    vertical-align: middle;
}

.morgue-header {
    font-family: 'pxplus', monospace;
    display: grid;
    row-gap: 0;
    align-content: center;

    span {
        display: inline-block;
        font-size: 1.8rem;
        line-height: 1.15em;
        text-align: center;
    }

    .morgue-name {
        color: var(--fg-d);
    }

    .morgue-result {
        font-size: 2.5rem;
        font-weight: bold;
    }

    .morgue-death {
        color: var(--fg-d);
    }

    .morgue-death-captain {
        color: var(--fg-c);
        font-size: 1.3rem;
    }

    .morgue-location {
        color: var(--fg-d);
    }
}

/* Game messages */
.message {
    font-family: 'pxplus', monospace;
}

.m-aquamarine { color: #7fffd4 }
.m-blue       { color: #b0c4de }
.m-concrete   { color: #efdfc4 }
.m-grey       { color: #afafaf }
.m-gold       { color: #ddb733 }
.m-pink       { color: #ffc0cb }
.m-red        { color: #db7093 }
.m-white      { color: #fff3f3 } /* Slightly reddish, because pure white looks blue on the background */

.panel-list {
    display: grid;
    gap: 1.5rem;

    table {
        height: fit-content;
    }
}

.panel-list.p3 {
    grid-template-columns: 1fr 2fr 2fr;
}

.panel-list:not(.p3) {
    grid-template-columns: 1fr 1fr;
}

.map {
    display: grid;
    justify-items: center;
    code {
        background: var(--green-2);
        border: 0.1rem solid var(--fg-6);
        padding: 1rem;
    }
}

td.bar-outer {
    padding: 0.3rem;
}

.bar {
    background: radial-gradient(var(--fg-6) 1px, var(--bg) 1px) 0 0/3px 3px, transparent;
    height: 1.3rem;
    display: block;
    align-content: center;
    width: 100%;
    min-width: 2rem;
    border: 0.1rem solid var(--fg);
    box-sizing: border-box;
}

.bar-inner {
    background: var(--green-5);
    padding-left: 0.2rem;
    width: 40%;
    height: 70%;
    display: block;
    font-size: 0.75rem;
}

.bar-neg {
    background: #804067;
}

@media screen and (max-width: 40rem) {
    body {
        flex-direction: column;
        gap: 1.5rem;
    }

    aside {
        min-width: 100%;
        max-width: 100%;

        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-gap: 1rem;

        img {
            grid-row: 1 / 3;
        }

        h1, h3 {
            margin-left: 1rem;
        }

        h1 {
            font-size: 1.4rem;
        }

        h3 {
            font-size: 1.1rem;
        }

        nav {
            grid-column: 1 / 3;

            flex-direction: row;
            gap: 0.5rem;
            flex-wrap: wrap;

            a.nav {
                width: 6rem;
            }
        }
    }

    main {
        width: 100%;
    }

    .panel-list {
        grid-template-columns: 1fr;
    }
}
